<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <title>Blood Bank Management System</title>
    <link rel="stylesheet" href="{%static 'style.css'%}" />
  </head>
  <body>
    <div id="header">
      <img
        src="https://cdn.pixabay.com/photo/2014/04/02/10/47/red-304570_640.png"
        alt="Blood Bank Logo"
        class="logo"
        <a href="#"><button class="btn btn-outline-light" id="backButton" style="margin-left: -580px;">Back</button
      />

      <nav>
        <ul>
          <li>
            <a href="/hsp/home">Home <i class="fa-solid fa-house"></i></a>
          </li>

          <li>
            <a href="/hsp/DonorRequest">Donation Details <i class="fa-solid fa-droplet"></i></a>
          </li>
          <li>
            <a href="/hsp/Request">Blood Request<i class="fa-solid fa-user-shield"></i></a>
          </li>
        <li>
            <a href="/hsp/UrgentRequest">Urgent Request <i class="fa-solid fa-droplet"></i></a>
          </li>
            <li>
            <a href="/hsp/AlertStatus">Alert Status<i class="fa-solid fa-droplet"></i></a>
          </li>

             <li>
            <a href="/hsp/login">Logout<i class="fa-solid fa-user-shield"></i></a>
          </li>
        </ul>
      </nav>
  
    </div>
    <div>
      <div class="content">
        <h1>BLOOD DONATION DETAILS</h1>

                {{table_data | safe}}
      </div>
    </div>
    <script>
      // Back button functionality
      document.getElementById("backButton").addEventListener("click", function () {
          window.history.back();
      });
  
      // Logout functionality (your reference)
      document.getElementById("logoutButton").addEventListener("click", function () {
          window.location.href = "/login";
      });
    </script>
  </body>
</html>
