<!DOCTYPE html>
{%load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'style.css'%}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <div id="header">
          <img
            src="https://cdn.pixabay.com/photo/2014/04/02/10/47/red-304570_640.png"
            alt="Blood Bank Logo"
            class="logo"
          />
        </div>
        <a class="navbar-brand" href="/"
          >Blood Bank Management System</a
        >
        <a href="/login"><button class="btn btn-outline-light" id="logoutButton">Logout</button></a>

      </div>
    </nav>
    <script>
      document
        .getElementById("logoutButton")
        .addEventListener("click", function () {
          document.getElementById("logoutMessage").style.display = "block";
          setTimeout(function () {
            window.location.href = "index.html";
          }, 2000);
        });
    </script>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <a href="/home">Home</a>
          <a href="/donorlist">Donor List</a>
<!--          <a href="/AddHsp">Add Hospital</a>-->
            <a href="/ViewHsp">View Hospital</a>
            <a href="/BRequestStatus">Blood Request Status</a>
            <a href="/ADDFAQ">Add FAQ</a>
          <a href="/ViewFeedback">View Feedback</a>

        </div>

        <!-- Main Content -->
        <div class="col-md-10">

  <section id="patient-info">
       <h1 class="mt-3">Add FAQ</h1>
        <p>
          Add the frequently asked questions to help the donor to participate in blood donation<br>
          <font color="red">{{msg}}</font>
        </p>
        <form action="/AddFAQAction" method="POST">
          {%csrf_token%}
          <label for="patient-name">Question:</label>
          <input type="text" id="patient-name" name="question" required />

          <label for="address">Answer:</label>
          <textarea id="address" name="answer" required></textarea>
          <button type="submit">Add FAQ</button>
        </form>
      </section>

        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
